/* Welcome container */

#main-page-container {
  /* min-height: calc(93.1vh - 6rem); */
  min-height: calc(93.1vh - 6rem);
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  /* position: relative; */
}

#main-welcome-container {
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-welcome-message {
  /* position: absolute;
    top: 7%; */
  z-index: 2;
}

/* Service list container */

#main-service-list-container {
  min-height: 50vh;
}

#services-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 3em;

  /* 10px margin to account for the 10px margin in the cards in the service container */
  margin-top: 10px;

  margin-left: calc(2em + 10px);
  margin-right: calc(2em + 10px);
}

@media only screen and (max-width: 700px) {
  #services-header {
    display: inline;
    font-size: 16pt;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  #services-header {
    display: inline;
    font-size: 24pt;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1001px) {
  #services-header {
    display: inline;
    font-size: 32pt;
    margin-bottom: 0;
  }
}

.service-container {
  padding: 1em;
  border: solid;
  border-radius: 20px;
  border-width: 1px;
  min-height: 20em;
}

.cardi {
  transform: scale(1);
  width: 25vw;
  min-height: 15vw;
  margin: 10px;
  padding: 10px 10px 10px 25px;
  border-radius: 0px;
  transition: transform 1s linear;
  text-align: left;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

@media only screen and (max-width: 915px) {
  .cardi {
    min-width: 40vw;
    min-height: 25vw;
  }
}

@media only screen and (max-width: 690px) {
  .cardi {
    min-width: 80vw;
    min-height: 25vw;
  }
}

@media only screen and (max-width: 410px) {
  .cardi {
    min-width: 80vw;
    min-height: 25vw;
  }
}

.cardi2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  /* Keep the same border radius as the card */
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); */
  /* Adding a shadow effect */
  filter: brightness(50%) blur(0px);
}

.cardi3 {
  position: relative;
  z-index: 1;
  color: white;
}

.cardi33 {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  /* transform-style: preserve-3d; */
}

.service {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: auto;
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (max-width: 690px) {
  .service {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.btn1 {
  border-radius: 40px;
  transform: scale(0.8);
  border: 0;
  cursor: pointer;
  /*when we put our cursor on it it'd turn to a pointer*/
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background: #80ced7;
  justify-self: center;
  color: #fff;
}

.form-class {
  justify-self: center;
}

q .card-subtitle {
  font-weight: bold;
  font-size: 1.5em;
}

.card-link {
  /* text-decoration: none; */
  color: black;
}

#main-search-form {
  max-width: 100vw;
}

.callout {
  border-radius: 5px;
  padding: 4rem;
}

.callout--primary {
  background: #003249;
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
}

.callout .btn1 {
  justify-self: center;
  /*that'll fix it based on position of it inside it's container*/
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 415px) {
  .callout {
    width: 90vw;
    margin: 0 5%;
    justify-self: center;
  }
}

/* Section for AI */

#aiAssistanceSection {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #130f40;
  font-family: "Lato" !important;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search-box:hover {
  width: 50%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 10px;
  color: #fff;
}

.button-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.button-arrow:hover::after {
  margin-left: 10px;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.search-box:hover .input-search,
.input-search:focus {
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search {
  width: 100%;
  /* Initial width */
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.btn-submit {
  display: none;
  /* Initially hidden */
  margin-top: 10px;
  width: 120px;
  height: 50px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: #22a6b3;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

/* .btn-search:hover ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:hover{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
} */
.app-name {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  /* color: yellow; */
  color: rgb(199, 150, 65);
}

.dance {
  animation: dance 1s infinite;
}

/* @keyframes dance {
  0% {
    transform: translateY(1em);
  }

  50% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(1em);
  }
}

.card-link {
  display: inline-block;
  padding: 0.3em;
  margin: 5px;
  background-color: rgba(0, 123, 255, 0);
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
   Prevent text selection 
text-decoration: none;
border: 1px solid white;
}
*/

.card-link:hover {
  background-color: black;
  color: white;
  transition: all 1s;
}

.button-location {
  border: 1px solid white;
}

.button-location:hover {
  color: black;
  background-color: black;
}

.notfound {
  /* border: 1px solid black; */
  /* grid-column-start:3; */
  grid-column: 2 / span 2;
  grid-row: span 2;
}

.notfound img {
  max-width: 100%;
}

.notfound p {
  font-weight: bold;
  font-size: 2em;
}

/* Easter egg in main page  */
.card:hover {
  box-shadow: #003249;
}

.button-arrow {
  border: 0;
  background: none;

  text-decoration: none;
  color: #80ced7;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@keyframes dance1 {
  0% {
    transform: translateY(-5px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes oppositedance {
  0% {
    transform: translateY(5px);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: translateY(1em);
  }
}

.dance {
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: translateY(1em);
  }

  50% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(1em);
  }
}

.flipped {
  transform: rotateY(180deg);
}

.description:hover {
  color: #80ced7;
}

.description2:hover {
  color: #80ced7;
}

.flipped {
  transform: rotateY(180deg);
}

.description:hover {
  color: #80ced7;
}

.description2:hover {
  color: #80ced7;
}

.dance1:hover span:nth-child(2n) {
  /* Change the color of even spans to red on hover */
}

.odd-span {
  animation: dance1 2s linear infinite;
}

.even-span {
  animation: oppositedance 2s linear infinite;
}

.robo {
  height: 70px;
  width: 70px;
  display: inline-block;
  border-radius: 50px;
  background-color: black;
}

.robocircle {
  animation: rotate 2s linear infinite;
}

.flipped {
  transform: rotateY(180deg);
}

.alphabets {
  transform: scale(1);
}

@media screen and (max-width: 440px) {
  .alphabets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alphabets span {
    width: 3px;
    height: 3px;
    margin: 0 9px;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 20px;
  }

  .quote__author {
    font-size: 24px;
  }

  .quote__organization {
    font-size: 16px;
  }
}

/**/

.testimonial__image {
  position: relative;
  margin: 0 30px;
}

@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }

  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 24px;
  }

  .testimonial .quote {
    margin-left: 60px;
    margin-right: 0;
  }
}

.reset-search {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #9ad1d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 10%;
}

.reset-search:hover {
  background-color: #0056b3; /* Darker shade of primary color */
  transform: scale(1.05);
}

.reset-search:active {
  background-color: #003f7f; /* Even darker shade for active state */
}

@media (max-width: 800px) {
  .reset-search {
    width: 100%;
  }
}

#services-header {
  display: inline;
  margin-bottom: 0;
}

.dance1 span {
  display: inline-block;
  transition: transform 0 ease, color 0.5s ease;
}

.odd-span {
  animation: dance1 2s linear infinite;
}

.even-span {
  animation: oppositedance 2s linear infinite;
  color: red;
}

#main-search-form {
  max-width: 100vw;
}

.card-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.robo {
  height: 70px;
  width: 70px;
  display: inline-block;
  border-radius: 50px;
  background-color: black;
}

.robocircle {
  animation: rotate 2s linear infinite;
}

#main-search-form {
  max-width: 100vw;
}
.card-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.robo {
  height: 70px;
  width: 70px;
  display: inline-block;
  border-radius: 50px;
  background-color: black;
}

.robocircle {
  animation: rotate 2s linear infinite;
}
