<%- include("templates/header") %>

<div class="parent">
  <div class="container-conf">
    <div class="tracking-number-conf"><b>Tracking Number: ABC123XYZ</b></div>
    <div class="purchase-info-conf">
      <p>Thank you for your purchase!</p>
      <p>Robo Service: Plumber 2.6</p>
      <p>Price: $19.99</p>
      <p>Estimated Delivery: In 25 minutes</p>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
