<%- include("templates/header") %>

<div class="parent">
  <div class="container-conf">
    <div class="tracking-number-conf"><b>Tracking Number: <%= orderNumber %></b></div>
    <div class="purchase-info-conf">
        <p>Thank you for your purchase!</p>
        <p id="service">Robo Service: Plumber 2.6</p>
        <p id="price">Price: $19.99</p>
        <p>Estimated Delivery: In 25 minutes</p>
        <a
        style="
          padding: 7px;
          border-radius: 100px;
          background-color: #003249;
          text-decoration: none;
        "
        href="/main"
        >Go to Main</a
      >
    </div>
</div>
<script src="/confirmation.js"></script>
<%- include("templates/footer") %>
