<%- include("templates/header") %>
<div class="my-3">
    <a href='/setting' class="btn btn-secondary back-btn">Back</a>
</div>

<div class="container">
    <h1 id="profile-h1">Edit password</h1>

  <div class="edit-password-form">
      <form>
          <div class="mb-3">
              <label for="current-password" class="form-label">Current Password</label>
              <input type="password" class="form-control" id="current-password" required>
          </div>
          <div class="mb-3">
              <label for="new-password" class="form-label">New Password</label>
              <input type="password" class="form-control" id="new-password" required>
          </div>
          <div class="mb-3">
              <label for="confirm-password" class="form-label">Confirm New Password</label>
              <input type="password" class="form-control" id="confirm-password" required>
          </div>
          <button type="submit" class="button" id="apply-changes">Apply Changes</button>
      </form>
  </div>
</div>
<%- include("templates/footer") %>