<%- include("templates/header") %>
<div class="my-3">
  <a href="/setting" class="btn btn-secondary back-btn">Back</a>
</div>
<div class="signup-login-page-container">
  <main
    style="max-width: 504px"
    class="form-signin py-3 px-3 w-100 m-auto signup-login-form-container"
  >
    <form action="/updatePassword" method="post">
      <h4 class="h4 mb-3 fw-bold text-center">Edit Password</h4>
      <div>
        <label for="currentPassword" class="form-label">Current Password</label>
        <br />
        <input
          name="currentPassword"
          type="password"
          placeholder="Current Password"
          class="signup-login-form-input-style"
          id="currentPassword"
        />
      </div>
      <br />

      <div>
        <label for="newPassword" class="form-label">New Password</label>
        <br />
        <input
          name="newPassword"
          type="password"
          placeholder="New Password"
          class="signup-login-form-input-style"
          id="newPassword"
        />
      </div>
      <br />

      <div>
        <label for="confirmNewPassword" class="form-label"
          >Confirm New Password</label
        >
        <br />
        <input
          name="confirmNewPassword"
          type="password"
          placeholder="Confirm New Password"
          class="signup-login-form-input-style"
          id="confirmNewPassword"
        />
      </div>
      <br />

      <button
        style="background-color: #003249 !important; color: white"
        class="btn w-100 py-2"
        type="submit"
      >
        Apply Changes
      </button>
    </form>
  </main>
</div>
<%- include("templates/footer") %>
