<%- include('templates/header')%>
    <form action="/sendEmail" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Enter the email assiciated with your account and
                we'll send you a one time login code to reset your password</small>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <%- include('templates/footer')%>