<%- include("templates/header") %>
<div class="index-page-container">
  <!-- <div class="signup-login-form-container" style="min-width: 400px;
                max-width: 504px;
                height: 200px;"
    >
        <br>
        <button type='button' onclick="window.location.href = '/signup';" class="btn w-100 py-2 mb-2" style="background-color: #003249 !important; color: white;">Sign up</button>
        <br>
        <button type='button' onclick="window.location.href = '/login';" class="btn btn-light btn-outline-secondary w-100 py-2 mb-2">Log in</button>
    </div> -->

  <section class="block">
    <div
      style="max-width: 1140px; margin: 0 auto;"
      class="container grid grid--1x2"
      id="grid-img-signup-login-address-bar"
    >
      <header
      style="
      display: flex;
      flex-direction: column;
      justify-self: flex-end;
      justify-content: center;
      align-content: center;
      gap: 30px;
      margin-top: 100px;
      height: fit-content;
      align-self: center;
      justify-self: center;
      margin-bottom: 0px; 
      position: relative; 
      top: 45px;
    "
        id="index-grid-item-address-bar"
        class="block__header hero__content"
      >
        <h3 id="index-welcome-message">
          <span style="font-weight: bold; color: white"
            >Order robot services near you</span
          >
        </h3>
        <!-- Search bar -->
        <form id="index-search-form" class="d-flex mx-auto" role="search">
          <!-- Filter button and dropdown menu -->
          <div class="dropdown d-flex justify-content-center">
            <button
              type="button"
              id="filter-button"
              class="btn btn-light dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
            >
              <span class="material-symbols-outlined">location_on</span>
            </button>
          </div>

          <!-- Search bar text input -->
          <input
            id="search-text"
            class="form-control"
            type="search"
            placeholder="Please log in to search services"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <!-- Search button -->
          <button id="search-button" class="btn btn-light" type="submit">
            <span class="material-symbols-outlined">search</span>
          </button>
        </form>
        <div id="index-login-signup-button-container">
          <button
            type="button"
            onclick="window.location.href = '/login';"
            class="btn btn-light btn-outline-secondary py-2 rounded-pill index-signup-login-buttons"
          >
            Log in
          </button>
          <button
            type="button"
            onclick="window.location.href = '/signup';"
            class="btn py-2 rounded-pill index-signup-login-buttons"
            id="index-signup-button"
            style="color: white"
          >
            Sign up
          </button>
        </div>
      </header>

      <!-- moved top: 120px; to index.css to be able to change top margin when in mobile view -->
      <img
        style="
          top: 120px;
          position: relative;
          left: 0px;
          margin-top: 0;
          width: 100%;
        "
        class="hero__image"
        id="index-hero__image"
        src="robo.png"
        alt=""
      />
    </div>
  </section>

  <div style="margin: 30px 0">
    <header
      style="
        text-align: center;
        margin-bottom: 6.2rem;
        margin-top: 5rem;
        color: #003249;
      "
    >
      <h1>Welcome To RoboRental App</h1>
      <p>
        We are here to make life easier by providing robots for different
        services!!
      </p>
    </header>
    <div style="max-width: 1340px; margin: 0 auto">
      <div style="border: none">
        <div class="grid grid--1x2" style="gap: 40px">
          <div
            class="quote border-radius"
            style="
              font-style: italic;
              color: black;
              background-color: rgba(13, 65, 109, 0.312);
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
              display: flex;
              flex-direction: column;
              align-items: center;
            "
          >
            <div
              style="
                width: 250px;
                height: 250px;
                background: linear-gradient(
                  to top,
                  rgba(90, 107, 187, 0.977) 50%,
                  rgba(255, 255, 255, 0.446) 105%
                );

                border-radius: 50%;
                position: relative;
                bottom: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
              "
            >
              <img
                style="width: 80%; height: 90%; position: relative; top: 15px"
                src="persona2.png"
                alt=""
              />
            </div>
            <p style="font-size: 20px; padding: 0 40px">
              "Welcome to Robo Rental, your one-stop destination for all your
              robotic needs. Whether you're looking to automate cleaning tasks,
              tackle plumbing issues, enhance your education experience, explore
              new recipes with cooking robots, or prioritize your health with
              cutting-edge technology, we've got you covered. Our platform
              offers a wide range of robotic services designed to make your life
              easier and more efficient. With Robo Rental, you can access a
              variety of robots on demand, allowing you to accomplish tasks
              faster and with greater precision."
            </p>

            <br /><br />
            <div
              style="
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                bottom: 20px;
              "
            >
              <img
                style="display: inline; width: 70px"
                src="robot2.png"
                alt=""
              />
              <div>
                <h3 style="display: block">RoboRental Team</h3>
              </div>
            </div>

            <h1></h1>
          </div>
          <section
            class="quote"
            style="
              font-style: italic;
              color: black;
              gap: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          >
            <div
              class="border-radius"
              style="
                display: flex;
                align-items: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                background-color: rgba(214, 148, 48, 0.387);
              "
            >
              <img
                style="display: inline; height: 100px; width: 100px"
                src="broom.png"
                alt=""
              />

              <div>
                <p style="display: inline; font-weight: bold">Cleaning</p>
                <p style="display: block; font-size: 15px; color: gray">
                  Have your house cleaned by RoboRental robots easier. Order
                  robots with a snap of fingers and you'd receive them as fast
                  as possible.
                </p>
              </div>
            </div>
            <div
              class="border-radius"
              style="
                display: flex;
                align-items: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                background-color: rgba(121, 81, 38, 0.387);
              "
            >
              <img
                style="display: inline; height: 100px; width: 100px"
                src="support.png"
                alt=""
              />

              <div>
                <p style="display: inline; font-weight: bold">Plumbing</p>
                <p style="display: block; font-size: 15px; color: gray">
                  Solve your plumbing issues with RoboRental's efficient robots.
                  Order now and experience the convenience.
                </p>
              </div>
            </div>
            <div
              class="border-radius"
              style="
                display: flex;
                align-items: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                background-color: rgba(55, 129, 219, 0.387);
              "
            >
              <img
                style="display: inline; height: 100px; width: 100px"
                src="education.png"
                alt=""
              />

              <div>
                <p style="display: inline; font-weight: bold">Education</p>
                <p style="display: block; font-size: 15px; color: gray">
                  Enhance your learning experience with RoboRental's educational
                  robots. Explore new ways of learning and engage with
                  innovative technologies.
                </p>
              </div>
            </div>
            <div
              class="border-radius"
              style="
                display: flex;
                align-items: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                background-color: rgba(201, 55, 55, 0.387);
              "
            >
              <img
                style="display: inline; height: 100px; width: 100px"
                src="hamburger.png"
                alt=""
              />

              <div>
                <p style="display: inline; font-weight: bold">Cooking</p>
                <p style="display: block; font-size: 15px; color: gray">
                  Let RoboRental assist you in the kitchen with its advanced
                  cooking robots. Prepare delicious meals effortlessly and enjoy
                  the culinary experience.
                </p>
              </div>
            </div>
            <div
              class="border-radius"
              style="
                display: flex;
                align-items: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                background-color: rgba(65, 200, 128, 0.387);
              "
            >
              <img
                style="display: inline; height: 100px; width: 100px"
                src="health1.png"
                alt=""
              />

              <div>
                <p style="display: inline; font-weight: bold">Health</p>
                <p style="display: block; font-size: 15px; color: gray">
                  Prioritize your health with RoboRental's healthcare robots.
                  Access medical assistance and monitoring services with ease,
                  ensuring well-being.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("templates/footer")%>
