<%- include("templates/header") %>

<div class="signup-login-page-container">
  <main style="max-width: 504px;" class="form-signin py-3 px-3 w-100 m-auto signup-login-form-container">
    
    <form action="/loggingin" method="post" id="login-form" class="needs-validation" novalidate>
      <h4 class="h4 mb-3 fw-bold text-center">Log in to RoboRental</h4>
      <h6 class="mb-3 fw-normal text-center">Don't have an account? <a href='/signup' class="btn btn-sm" style="color: black; background-color: orange !important">Sign up</a></h6>
      <div>   
   
        <label for="loginEmail" class="form-label">Email address *</label>
        <br/>
        
        <input
          name="email"
          type="email"
          placeholder="name@example.com"
          class="signup-login-form-input-style form-control"
          id="loginEmail"
          required
        />
        <div class="email-msg invalid-feedback"></div>
      </div>
      <br/>
      <div style="position: relative;">
        <label for="loginPassword" class="form-label">Password *</label>
        <br/>

        <input
          name="password"
          type="password"
          placeholder="Password"
          class="signup-login-form-input-style form-control"
          id="loginPassword"
          required
        />
        <span class="material-symbols-outlined showPswdButton" id="loginShowPswdButton" onclick="togglePasswordVisability('loginPassword', 'loginShowPswdButton')">visibility_off</span>
        <div class="password-msg invalid-feedback"></div>
      </div>
      <br/>

      <input type="reset" 
      class="btn btn-secondary w-20 py-2 mb-3"
      type="submit"
      >

      <button
        style="background-color: #003249 !important; color: white;"
        class="btn w-100 py-2 mb-3"
        type="submit"
      >
        Login
      </button>
      <a href="/auth/google?signup=false"><button type="button"style="color:black" class="btn btn-outline-primary w-100 py-2 mb-3"><img style="width: 30px;padding-right: 5px;" src="./google.png" alt="">Authenticate with Google</button></a>
      <span><a href="/forgot-password">Forgot Password?</a></1></span> <!-- Need to implement this later as part of the 3b password reset suprise challenge -->

    </form>
  </main>
</div>

<!-- Password visability function -->
<script src="/js/signup-login.js"></script>

<!-- Client-side validation -->
<script defer src="/clientSideValidator-client.js"></script>
<script>
  const station = <%- JSON.stringify(stations) %>;
 
</script>
<script src="/map2.js"></script>
<script>
  const userEmail = <%- JSON.stringify(userEmail) %>;
  
</script>

<%- include("templates/footer") %>
