<%- include("templates/header") %>
<!-- <p>Invalid Email/Password Combination</p>
<form action="/login" method="get">
  <button class="btn btn-secondary rounded-pill px-3" type="submit">
    Try Again
  </button>
</form> -->

<% if (validationError == true) { %>
  <h4>Invalid email/password combination.</h4><br>
  <a href='/login' class="btn" style="background-color: #003249 !important; color: white;">Try again</a>
  
<% } else if ((userDoesNotExist == true) || (incorrectFields = true)) { %>
  <h4>A user with the entered email and password combination was not found.</h4><br>
  <a href='/login' class="btn" style="background-color: #003249 !important; color: white;">Try again</a>
<% } %>

<%- include("templates/footer") %>
