<%- include("templates/header") %>

<!-- <p>Main page shoud be placed here</p> -->
<div class="main-page-container">
    <div style="margin-bottom: 7em;">
		<div class="row mb-3 text-center row-gap-3">
			<!-- <div class="col-md-4 themed-grid-col">Item 1</div>
			<div class="col-md-4 themed-grid-col">Item 2</div>
			<div class="col-md-4 themed-grid-col">Item 3</div> -->
		  </div>
		<button type='submit' class="btn btn-light btn-outline-secondary" onclick="window.location.href = '/logout';">Sign out</button>
		</div>
</div>

<%- include("templates/footer") %>

<!-- 
finish the main page
	- create welcome container with search bar - with an appropriate colours that we chose from coolors
	- create container for the available robot services to be dynamically displayed in
	- create a file for template cards to be cloned from in the main page
	- create a placeholder for the AI assistance button, which we shayan and I will implement next week
 -->