<%- include("templates/header") %>
<!-- Main page shoud be placed here -->
<div id="main-page-container">
		<!-- <div class="input-group rounded search search-bar">
			<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
			<span class="input-group-text border-0" id="search-addon">
				<img src="images/search.png" alt="Search" id="searchIcon" />
			</span>
		</div> -->

	<div id="main-welcome-container">
		<form id="main-search-form" class="d-flex mx-auto" role="search">
			<!-- Filter button and dropdown menu -->
			<div class="dropdown d-flex justify-content-center">
				<button type="button" id="filter-button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
					aria-expanded="false" data-bs-auto-close="outside">
					<span class="material-symbols-outlined">filter_list</span>
				</button>
				</div>
			<!-- Search bar text input -->
			<input id="search-text" class="form-control" type="search" placeholder="Search for services" aria-label="Search" aria-describedby="search-addon"/>
			<!-- Search button -->
			<button id="search-button" class="btn btn-light" type="submit">
				<span class="material-symbols-outlined">search</span>
			</button>
		</form>

		<h2 id="main-welcome-message">Welcome <%=username%>!</h2>

	</div>
	
	<!-- Services list of cards -->
	<div id="main-content-container">
		<h3 id="services-header">Find services</h3>
		<div id="main-service-list-container" class="row mb-3 text-center">
			<div class="col-md-4 themed-grid-col service-container">service_placeholder</div>
			<div class="col-md-4 themed-grid-col service-container">service_placeholder</div>
			<div class="col-md-4 themed-grid-col service-container">service_placeholder</div>
		  </div>
	</div>

	<!-- <div class="row mb-3 text-center row-gap-3">
		<div class="col-md-4 themed-grid-col">Item 1</div>
		<div class="col-md-4 themed-grid-col">Item 2</div>
		<div class="col-md-4 themed-grid-col">Item 3</div> -->
	<!-- <br>
	<button type='submit' class="btn btn-light btn-outline-secondary" onclick="window.location.href = '/logout';">Sign out</button> -->
</div>

<!-- <script>
	document.addEventListener('DOMContentLoaded', function() {
	 var link = document.createElement('link');
	 link.rel = 'stylesheet';
	 link.href = '/main.css';
	 document.head.appendChild(link);
 });
</script> -->

<%- include("templates/footer") %>

<!-- 
finish the main page
	- create welcome container with search bar - with an appropriate colours that we chose from coolors
	- create container for the available robot services to be dynamically displayed in
	- create a file for template cards to be cloned from in the main page
	- create a placeholder for the AI assistance button, which we shayan and I will implement next week
 -->