<%-include('templates/header')%>


  <div class="signup-login-page-container">
    <main style="max-width: 504px;" class="form-signin py-3 px-3 w-100 m-auto signup-login-form-container">
      <form action="/resetPassword" method="post">
        <div class="mb-3">
          <label  class="form-label">New Password</label>
          <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
          <div  class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="hidden" name="email" value="<%=email %>">
        <button style="background-color: #003249 !important; color: white;"
        class="btn w-100 py-2" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
  </div>
<%-include('templates/footer')%>