<%-include('templates/header')%>
<form action="/resetPassword" method="post">
    <div class="mb-3">
      <label  class="form-label">New Password</label>
      <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
      <div  class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <input type="hidden" name="email" value="<%=email %>">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<%-include('templates/footer')%>