<%- include("templates/header") %>
  <!-- This code has been taken from project 1800 from bby 30 -->
  <div class="setting-link-section">
    <a href='edit-profile' class="setting-link">Edit Profile</a>
    <a href="edit-password" class="setting-link">Edit Password</a>
    <a href='#' class="setting-link" id="logout-setting">Log Out</a>
    <a href="#" class="setting-link" id="deleteAccountBtn">Delete Account</a>


  </div>

  <%- include("templates/footer") %>