<%- include("templates/header") %>

<div class="setting-link-section">
    <a href='edit-profile' class="setting-link">Edit Profile</a>
    <a href="edit-password" class="setting-link">Edit Password</a>

    <!-- using <a> to navigate between pages makes it impossible to have dark mode persist
    between pages -->
    <!-- <a href="#" class="setting-link" onClick="toggleDarkMode()">Switch to Dark Mode</a> -->
    <a href='#' class="setting-link" id="logout-setting">Log Out</a>
    <a href="#" class="setting-link" id="deleteAccountBtn">Delete Account</a>
  </div>

<%- include("templates/footer") %>