<%- include("templates/header") %>

<div class="prompt-message-container">
  <div class="prompt-message">
    <% if (problem == "EmailExists") { %>
      <p>The email you entered already exists</p>
    <% } else { %>
      <p><%= problem %> is required</p>
    <% } %>
    <a href='/signup' class="btn" style="background-color: #003249 !important; color: white;">Try again</a>
  </div>

</div>



<script>
  document.addEventListener("DOMContentLoaded", function () {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.href = "/signupSubmit.css";
      document.head.appendChild(link);
  });
</script>

<%- include("templates/footer") %>
