
</div>
<footer>
    <hr />
    <div class="footer-content">
      <ul>
        <li><p><strong>Policy</strong> &nbsp; &nbsp; &nbsp;<p></li>
        <li><p>Privpcy Policy</p></li>
        <li><p>Terms of Service</p></li>
        <li><p>Cookie Policy</p></li>
        <li><p>&copy; All Rights Reserved.</p></li>
      </ul>
    </div>
  </footer>


</body>
</html>