</div> <!-- End of page content -->

<div id="footer-outer-container">
  <footer>
    <div class="footer-content justify-content-center">
      <ul class="nav">
        <li class="nav-item">
          <p><a href="/privacy">Privacy Policy</a></p>
        </li>
        <li class="nav-item">
          <p>&copy; 2024 All Rights Reserved.</p>
        </li>

        <li class="nav-item">
          <p><a href="/terms-and-conditions">Terms and Conditions</a></p>
        </li>
      </ul>
    </div>
  </footer>
</div>

</div>
<!-- End of flexbox container - to make the main content container fill all of the space after header and before footer -->

<!-- Bootstrap JS library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- JS files -->
<script src="/sweetAlert.js"></script>

</body>

</html>